<h1> About Us </h1>


This is a fun simple little app I built to understand the basics of Ruby on Rails.
</br>

<!--Remember that you have to use an image tag and reformat the class. -->
<%= image_tag("mayan-eye.jpg", :alt => "mayan-eye", class:"img-fluid") %>
